<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Stack Exchange Search</title>
	
    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{webjars/font-awesome/4.7.0/css/font-awesome.min.css}" />
</head>

<body>
    <div class="container">
	    <div class="jumbotron mt-3">
        	<h1>Internal server error</h1>
        	<p class="lead">We're already looking into this.</p>
        	<a class="btn btn-lg btn-primary" th:href="@{~/}" role="button">
        		<span class="fa fa-home" aria-hidden="true"></span> Go Home
        	</a>
    	</div>
    </div>

    <script type="text/javascript" th:src="@{webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>
</body>

</html>