<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Stack Exchange Search</title>
	
    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{webjars/font-awesome/4.7.0/css/font-awesome.min.css}" />
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="w-100 p-4">
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
                <form method="get" action="/search">
                    <div class="form-row">
                        <div class="col-12 col-md-9 mb-2 mb-md-0">
                            <input type="search" class="form-control form-control-lg" th:value="${query}" name="query">
                        </div>
                        <div class="col-12 col-md-3">
                            <button type="submit" class="btn btn-block btn-lg btn-primary">
                            	<span class="fa fa-search" aria-hidden="true"></span> Search
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="w-100 p-4">
            </div>
        </div>
        <div th:if="${error} != null" class="alert alert-danger">
            <span class="fa fa-exclamation-triangle" aria-hidden="true"></span> [[${error}]]
        </div>
        <div th:if="${main} == false and (${questions} == null or ${questions.length} == 0)" class="alert alert-info">
            <span class="fa fa-info-circle" aria-hidden="true"></span> Nothing is found
        </div>
        <div th:if="${error} == null and ${main} == false and ${questions} != null and ${questions.length} != 0">
            <div class="row">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Title</th>
                            <th scope="col">Author</th>
                            <th scope="col">Created at</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:if="${question} != null" th:each="question : ${questions}">
                            <td>
                            	<a th:href="${question.link}">[[${question.title}]] </a>
                            	<span th:if="${question.isAnswered} == true" class="fa fa-check" aria-hidden="true" title="Has answer"></span>
                            </td>
                            <td th:if="${question.owner} != null">[[${question.owner.displayName}]]</td>
                            <td style="white-space: nowrap">[[${#dates.format(question.creationDate, 'dd-MM-yyyy HH:mm')}]]</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row">
                <div class="w-100 p-2">
                </div>
            </div>
            <div class="row">
                <nav class="mx-auto">
                    <ul class="pagination">
                        <li th:if="${page} > 1" class="page-item">
                            <a class="page-link" th:href="@{/search(page=${page - 1},query=${query})}" tabindex="-1">Previous</a>
                        </li>
                        <li th:if="${page} <= 1" class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1">Previous</a>
                        </li>
                        <li th:if="${hasMore} == false" class="page-item disabled">
                            <a class="page-link" href="#">Next</a>
                        </li>
                        <li th:if="${hasMore} == true" class="page-item">
                            <a class="page-link" th:href="@{/search(page=${page + 1},query=${query})}">Next</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>

    <script type="text/javascript" th:src="@{webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>
</body>

</html>